@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Parisienne&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f0f0f0;
}
