/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Hattinand";
  src:
    url("/Font/Hattinand.woff2") format("woff2"),
    url("/Font/Hattinand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
}
